html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

.pageLogo{
    text-align: center;
    background-color: rgb(179, 49, 49);
    color: white;
    padding: 0.1em;
  }

#menuBar{
    height: 5vh;
    background: rgb(3, 19, 37);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.1em; 
  }