html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

.pageLogo{
    text-align: center;
    background-color: rgb(179, 49, 49);
    color: white;
    padding: 0.1em;
  }

#menuBar{
    height: 5vh;
    background: rgb(3, 19, 37);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.1em; 
  }

.dropbtn{
    background-color: rgb(49, 109, 179);
    color: rgb(255, 255, 255);
    padding: 0.2em;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10%;
  }

.dropbtn:hover, .dropbtn:focus {
    background-color: #c77811;
  }
  

.dropdown{
    position: relative;
    display: inline-block;
  }

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #e2e7eb;
    min-width: 105px;
  }

.dropdown-content button{
    padding: 12px 16px;
    background-color: #e2e7eb;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: block;
  }

.dropdown-content button:hover{
    background-color: rgb(179, 49, 49);
}

.animeInfoDiv{
    padding: 30px;
    font-size: 24px;
    border: groove;
    border-color: rgb(179, 49, 49);
    text-align: center;

  }

#animeImage{
    width: 300px;
    height: 300px;
  }

.factsBar{
    height: 10vh;
    background: rgb(3, 19, 37);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.1em; 
  }

.voteButons{
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.1em; 
}

.voteButons button{
    background: rgb(3, 19, 37);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    border-radius: 50%;
}

#btnUpVote:hover, #btnUpVote:focus{
    background-color: rgb(49, 109, 179);
}

#btnDownVote:hover, #btnDownVote:focus{
    background-color: rgb(179, 49, 49);
}

input[type="submit"]{
    background-color: rgb(49, 109, 179);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10%;
  }
  
input[type="text"] {
    font-size: 24px;
    border-radius: 10%;
  }

