html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

.pageLogo{
    text-align: center;
    background-color: rgb(179, 49, 49);
    color: white;
    padding: 0.1em;
  }

#menuBar{
    height: 5vh;
    background: rgb(3, 19, 37);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.1em; 
  }

.dropbtn{
    background-color: #e2e7eb;
    color: rgb(0, 0, 0);
    padding: 0.2em;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

.dropbtn:hover, .dropbtn:focus {
    background-color: #c77811;
  }
  

.dropdown{
    position: relative;
    display: inline-block;
  }

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #e2e7eb;
    min-width: 105px;
  }

.dropdown-content button{
    padding: 12px 16px;
    background-color: #e2e7eb;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: block;
  }

.dropdown-content button:hover{
    background-color: rgb(179, 49, 49);
}